
/Reference
static/.DS_Store
.DS_Store
dev.txt
secret-key.txt
*.db
.env
/env
database 복사본.db
database.db
*.db
database.db
*.db
*.db
database.db
turnstile-secret-key.txt
/node_modules
/.next
.vercel
public
.env.local
.idea