@import "../styles/reset.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/PretendardVariable.woff2") format("woff2");
}

@font-face {
  font-family: pyeongchangpeace;
  font-weight: 300;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.eot);
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.eot?#iefix)
      format("embedded-opentype"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.woff)
      format("woff"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.ttf)
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: pyeongchangpeace;
  font-weight: 700;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.eot);
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.eot?#iefix)
      format("embedded-opentype"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.woff)
      format("woff"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.ttf)
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: DNFBitBitv2;
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf")
    format("opentype");
}

html {
  font-family: pretendard variable, Pretendard, "Apple SD Gothic Neo",
    -apple-system, BlinkMacSystemFont, system-ui, Roboto, helvetica neue,
    segoe ui, apple sd gothic neo, noto sans kr, malgun gothic,
    apple color emoji, segoe ui emoji, segoe ui symbol, sans-serif;
}

.futura {
  font-family: "futura-pt-condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
