@import "../styles/reset.css";
@import "https://use.typekit.net/rjd5iff.css";
@import "https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: pyeongchangpeace;
  font-weight: 300;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.eot);
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.eot?#iefix)
      format("embedded-opentype"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.woff)
      format("woff"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.ttf)
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: pyeongchangpeace;
  font-weight: 700;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.eot);
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.eot?#iefix)
      format("embedded-opentype"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.woff)
      format("woff"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.ttf)
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: DNFBitBitv2;
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf")
    format("opentype");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
