{% extends 'layout.html' %} {% block content %}
<section class="qna-wrapper admin-guestbook">
  <div class="title flex-col">
    <a href="/admin"><i class="fas fa-chevron-left"></i>관리자 설정</a>
    <h2>방명록 관리</h2>
  </div>

  <div class="guestbook-list">
    {% for post in posts %}
    <div id="{{ post[3] }}" class="guestbook-post">
      <form id="editform{{ post[3] }}" method="post">
        <div class="guestbook-post-info">
          <div class="guestbook-post-namedate">
            <div class="guestbook-post_name">
              <input type="text" name="username" value="{{ post[0] }}" />
            </div>
            <div class="guestbook-post-date">
              <p>{{ post[1] }}</p>
            </div>
          </div>
          <div class="more flex-row">
            <button
              class="edit-submit"
              type="submit"
              onclick="editPost({{ post[3] }}, 0)"
            >
              수정
            </button>
            <button
              class="del-submit"
              type="button"
              onclick="editPost({{ post[3] }}, 1)"
            >
              삭제
            </button>
          </div>
        </div>

        <div class="guestbook-post-content">
          <textarea name="content" rows="9">{{ post[2] }}</textarea>
        </div>
      </form>
    </div>
    {% if not loop.last %}
    <hr />
    {% endif %} {% endfor %}
  </div>
  <script>
    function editDropdown(num) {
      var dropdownList = document.getElementById("edit" + num);
      if (dropdownList.classList.contains("open")) {
        dropdownList.classList.remove("open");
      } else {
        dropdownList.classList.add("open");
      }
    }

    function editPost(num, edit) {
      var form = document.getElementById("editform" + num);
      if (edit == 0) {
        form.action = "./guestbook/edit?id=" + num;
      } else if (edit == 1) {
        window.location.href = "./guestbook/del?id=" + num;
      } else {
      }
    }
  </script>
</section>
{% endblock %}
