{% extends 'layout.html' %}
 
{% block content %}
<div class="main black_bg">
    <div class="character_wrapper">
        <div class="character_hero" style="background-image: url({{ url_for('static', filename='img/character-hero_3840.jpg') }}); background-size: cover; background-position: center center;">

        </div>
        <div class="character">
            <div class="character_pic hush" >
                <div class="portrait" style="background-image: url({{ url_for('static', filename='img/hush.png') }}); background-size: cover; background-position: center center;"></div>
            </div>
            <div class="character_info">
                <div class="character_name">
                    <h2>허쉬 (18)</h2>
                </div>
                <div class="character_desc">
                    <p>어딘가 심드렁 하고 무미건조한 듯 보이는 소녀. 그러나 장난기 넘치는 포니와 맞장구 칠 줄 알고 엉뚱한 젤리의 마음을 들여다보려고 노력하는 세심함을 가지고 있다. 의외로 늦둥이 외동딸.</p>
                </div>
            </div>
        </div>
        <div class="character">
            <div class="character_pic jelly" >
                <div class="portrait" style="background-image: url({{ url_for('static', filename='img/jelly.png') }}); background-size: cover; background-position: center center;"></div>
            </div>
            <div class="character_info">
                <div class="character_name">
                    <h2>젤리 (18)</h2>
                </div>
                <div class="character_desc">
                    <p>남들이 기억 못하는 자신의 '고향별'을 기억한다는 별난 소녀. 겁도 많고 자신감도 살짝 떨어지는 것 같지만, 어떻게든 고향별과 연락하고 말겠다는 자신의 목표에 진심으로 임한다.</p>
                </div>
            </div>
        </div>
        <div class="character">
            <div class="character_pic pony" >
                <div class="portrait" style="background-image: url({{ url_for('static', filename='img/pony.png') }}); background-size: cover; background-position: center center;"></div>
            </div>
            <div class="character_info">
                <div class="character_name">
                    <h2>포니 (18)</h2>
                </div>
                <div class="character_desc">
                    <p>훤칠한 키에 뛰어난 운동신경, 거기에 컴퓨터까지 잘 다루지만 정작 좋아하는 건 실없이 수다떨기와 시종일관 허쉬에게 장난치기. 젤리와의 첫 만남에서도 서슴없이 다가간다.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


