{% extends 'layout.html' %}
 
{% block content %}

<div class="guestbook">
    <form class="write_area">
        <div class="userinfo">
            <input id="name" placeholder="이름">
            <input id="pw" placeholder="비밀번호">
        </div>
        <textarea></textarea>
        <div class="write_btn">
            <input type="submit" class="guestbook_submit">
        </div>
    </form>
    <div class="guestbook_list">
        <div class="guestbook_post">
            <div class="guestbook_post_info">
                <div class="guestbook_post_name">
                    <p>test</p>
                </div>
                <div class="guestbook_post_date">
                    <p>2022-02-02 02:02:02</p>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <div class="guestbook_post_content">
                <p>[Web발신] 너는나를존중해야한다나는발롱도르5개와수많은개인트로피를들어올렸으며2016유로에서포르투갈을이끌고우승을차지했고동시에A매치역대최다득점자이다또한챔스역대최다득점자이자5번이나우승을차지한레알마드리드의상징이다또한36세의나이에도프리미어리그에서18골을기록하고챔스에서5경기연속골을기록하며내가세계최고임을증명해냈다은혜를모르는맨유보드진과팬들은내가맨유의골칫덩이라며쫒아냈지만내가세계최고이고내가팀보다위대하다는사실은바뀌지않는다내가사우디에간이유는메시에대한자격지심이아니라유럽에서이룰수있는모든것을이루었기에아시아를정복하기위해간것이지단지돈을위해서간것이아니다</p>
            </div>
        </div>
        <hr>
        <div class="guestbook_post">
            <div class="guestbook_post_info">
                <div class="guestbook_post_name">
                    <p>Dr. Kwak</p>
                </div>
                <div class="guestbook_post_date">
                    <p>2022-02-02 02:02:02</p>
                </div>
            </div>
            <div class="guestbook_post_content">
                <p>What a good content!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}


