{% extends 'layout.html' %} {% block content %}
<section class="qna_wrapper">
  <div class="title">
    <h2>방명록</h2>
  </div>

  <script></script>
  <form id="write" method="post" action="./guestbook/submit" class="write_area">
    <div class="userinfo">
      <input
        type="text"
        id="name"
        name="username"
        placeholder="이름"
        maxlength="32"
        required
      />
      <input
        type="password"
        id="pw"
        name="password"
        placeholder="비밀번호"
        minlength="4"
        required
      />
    </div>
    <textarea name="content" form="write" required></textarea>
    <div class="write_btn">
      <input type="submit" class="guestbook_submit" />
    </div>
  </form>
  <div class="guestbook_list">
    {% for post in posts %}
    <div id="{{ post[3] }}" class="guestbook_post">
      <div class="guestbook_post_info">
        <div class="guestbook_post_namedate">
          <div class="guestbook_post_name">
            <p>{{ post[0] }}</p>
          </div>
          <div class="guestbook_post_date">
            <p>{{ post[1] }}</p>
          </div>
        </div>
        <div class="more">
          <a onclick="editDropdown({{ post[3] }})"
            ><i class="fas fa-ellipsis-v"></i
          ></a>
        </div>
      </div>
      <div class="guestbook_post_input" id="edit{{ post[3] }}">
        <form id="editform{{ post[3] }}" method="post">
          <input
            class="pw_input"
            type="password"
            id="pw_edit{{ post[3] }}"
            name="pw_edit"
            placeholder="비밀번호"
          />
          <input
            type="submit"
            class="edit_submit"
            value="편집"
            onclick="editPost({{ post[3] }}, 0)"
          />
          <input
            type="submit"
            class="del_submit"
            value="삭제"
            onclick="editPost({{ post[3] }}, 1)"
          />
        </form>
      </div>
      <div class="guestbook_post_content">
        <p>{{ post[2] }}</p>
      </div>
    </div>
    {% if not loop.last %}
    <hr />
    {% endif %} {% endfor %}
  </div>
  <script>
    function editDropdown(num) {
      var dropdownList = document.getElementById("edit" + num);
      if (dropdownList.classList.contains("open")) {
        dropdownList.classList.remove("open");
      } else {
        dropdownList.classList.add("open");
      }
    }

    function editPost(num, edit) {
      var form = document.getElementById("editform" + num);
      if (edit == 0) {
        form.action = "./guestbook/edit?id=" + num;
      } else if (edit == 1) {
        form.action = "./guestbook/del?id=" + num;
      } else {
      }
    }
  </script>
</section>
{% endblock %}
