<html>

<head>
    <title>혹성의 아이</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
        integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, viewport-fit=cover">
</head>

<body>
    <header>
        <div class="menu_row_wrapper">
            <div class="logo_wrapper">
                <a href="/"><img class="logo" src="{{ url_for('static', filename='img/logo_nomargin.png') }}"></a>
            </div>
            <div class="menu_left">
                <i class="fas fa-chevron-left"></i>
            </div>
            <ul class="menu_row" id="menuBar">
                <li class="menu_btn">
                    <a class="menu_link {{ selected_home }}" href="/">홈</a>
                </li>
                <li class="menu_btn">
                    <a class="menu_link {{ selected_synopsis }}" href="/synopsis">시놉시스</a>
                </li>
                <li class="menu_btn">
                    <a class="menu_link {{ selected_character }}" href="/character">캐릭터</a>
                </li>
                <li class="menu_btn">
                    <a class="menu_link {{ selected_gallery }}" href="/gallery">갤러리</a>
                    <!-- <ul class="submenu">
                        <li class="submenu_items">
                            <a href="/comingsoon">Coming Soon</a>
                        </li>
                    </ul> -->
                </li>
                <li class="menu_btn">
                    <a class="menu_link {{ selected_videos }}" href="/videos">영상</a>
                    <!-- <ul class="submenu">
                        <li class="submenu_items">
                            <a href="/comingsoon">Coming Soon</a>
                        </li>
                    </ul> -->
                </li>
                <li class="menu_btn">
                    <a class="menu_link {{ selected_download }}" href="/download">다운로드</a>
                    <!-- <ul class="submenu">
                        <li class="submenu_items">
                            <a href="/comingsoon">Coming Soon</a>
                        </li>
                    </ul> -->
                </li>
                <li class="menu_btn">
                    <a class="menu_link {{ selected_social }}" href="/social/qna">소셜</a>
                    <!-- <ul class="submenu">
                        <li class="submenu_items">
                            <a href="/social/qna">질문 및 문의</a>
                        </li>
                        <li class="submenu_items">
                            <a href="/social/guestbook">방명록</a>
                        </li>
                    </ul> -->
                </li>
            </ul>
            <div class="menu_right">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
        <script>
            window.addEventListener("DOMContentLoaded", (event) => {
                const menuBar = document.querySelector("#menuBar"); // 메뉴 바의 ID를 #menuBar로 가정
                const activeLink = document.querySelector(".menu_bold"); // 현재 페이지를 나타내는 링크에 'active' 클래스가 있다고 가정

                if (menuBar && activeLink) {
                    const menuBarHalfWidth = menuBar.clientWidth / 2;
                    const activeLinkHalfWidth = activeLink.clientWidth / 2;
                    const activeLinkLeftOffset = activeLink.offsetLeft;

                    // 현재 페이지에 해당하는 링크를 메뉴 바의 가운데에 위치하게 하기 위해 스크롤 위치를 조정
                    menuBar.scrollLeft = activeLinkLeftOffset - menuBarHalfWidth + activeLinkHalfWidth;
                }

                const menuRow = document.querySelector('.menu_row');
                const menuLeft = document.querySelector('.menu_left');
                const menuRight = document.querySelector('.menu_right');
                function checkScroll() {
                    const isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
                    let scrollLeft = menuRow.scrollLeft;
                    // console.log(isSafari)

                    // Safari에서 scrollLeft 값 조정
                    if (isSafari) {
                        scrollLeft = scrollLeft + (menuRow.scrollWidth - menuRow.clientWidth) / 2 ;
                    }

                    if (scrollLeft <= 3) {
                        menuLeft.style.opacity = '0';
                    } else {
                        menuLeft.style.opacity = '1';
                    }

                    if (scrollLeft + menuRow.clientWidth >= menuRow.scrollWidth - 3) {
                        menuRight.style.opacity = '0';
                    } else {
                        menuRight.style.opacity = '1';
                    }
                }


                menuRow.addEventListener('scroll', checkScroll);
                checkScroll();
            });
        </script>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="copyright">
        <p>Copyright © 2024 Jun Park</p>
    </footer>

</body>

</html>