{% extends 'layout.html' %}

{% block content %}

<div class="main">
    <div class="qna_wrapper">
        <div class="title">
            <h1>질문 및 문의</h1>
        </div>
        <div class="jobs">
            <h2 class="underbar" id="staffs_btn" onclick="showContent(staffs)">스태프</h2>
            <h2 id="actors_btn" onclick="showContent(actors)">배우</h2>
        </div>
        <div class="participation show" id="staffs">
            <h3>참여 가능한 포지션</h3>
            <div class="chart_wrapper">
                <div class="chart">
                    <div class="row_1">
                        <div class="logo_small">
                            <img src="{{ url_for('static', filename='img/logo_nomargin.png') }}">
                        </div>
                        <div class="box title">
                            <p>혹성의 아이</p>
                        </div>
                    </div>

                    <div class="row_2">
                        <div class="jobs_wrapper">
                            <div class="text occ">
                                <p>모집 완료</p>
                            </div>
                            <div class="box short">
                                <p>감독</p>
                            </div>
                            <div class="desc_wrapper">
                                <p class="desc">
                                    (1/1)
                                </p>
                            </div>

                        </div>
                        <div class="jobs_wrapper">
                            <div class="text occ">
                                <p>모집 완료</p>
                            </div>
                            <div class="box short">
                                <p>제작</p>
                            </div>
                            <div class="desc_wrapper">
                                <p class="desc">
                                    (4/4)
                                </p>
                            </div>
                        </div>
                        <div class="jobs_wrapper">
                            <div class="text vac">
                                <p>모집 중</p>
                            </div>
                            <div class="box long">
                                <p>촬영·조명·음향</p>
                            </div>
                            <div class="desc_wrapper">
                                <p class="desc">
                                    촬영 (5/5)
                                </p>
                                <p class="desc">
                                    음향 (1/2)
                                </p>
                            </div>
                        </div>
                        <div class="jobs_wrapper">
                            <div class="text vac">
                                <p>모집 중</p>
                            </div>
                            <div class="box long">
                                <p>비주얼 메이킹</p>
                            </div>
                            <div class="desc_wrapper">
                                <p class="desc">연출·미술 (3/4)</p>
                            </div>
                        </div>
                    </div>
                    <div class="notice">
                        <p>* 현재 5월 13일까지 답장 보류 중입니다. 지원에 감사드립니다.</p>
                    </div>
                </div>
            </div>
            <p>해당 시나리오는 한정된 공간 안에서 이루어지는 이야기이기에 공간과 인물, 오브제 디자인의 고려 사항이 많을 것으로 예상됩니다. 따라서 감독이 연출, 미술로부터 쉼 없이 조언을 받아야 한다고
                판단하여 연출부와 미술부는 비주얼 메이킹이라는 대전제 안에 포함시켰습니다.</p>
            <h3>자격 요건</h3>
            <p>헤드 포지션은 물론 부원까지 모두 어떤 요건도 없습니다. (학년, 경험 무관)</p>
            <h3>참여 방법</h3>
            <p><span class="link" onclick="scrollToAnchor('#contact')">웹페이지 하단의 연락처</span>로 연락 주신다면 감독이 직접 찾아뵙도록 하겠습니다.
            </p>
            <h3>작업 시작일</h3>
            <p>본 작품의 리뷰가 끝나는 5월 9일 이후 바로 시작되며, 자세한 내용은 <span class="link" onclick="scrollToAnchor('#document')">하단에 첨부된
                    PDF 파일</span> ‘로드맵’ 부분에 명시되어 있습니다. 기말고사 기간에는 학업에 영향이 없도록 조율할
                예정입니다.</p>
            <h3>촬영일</h3>
            <p>7월 말에서 8월 초가 될 가능성이 높습니다. 프리 프로덕션 속도에 따라서 변경될 수도 있지만 8월을 넘어가는 일이 없도록 할 것입니다.</p>
            <h3>촬영지역</h3>
            <p>학교 근방에서 벗어나지 않도록 고려하여 시나리오를 구성했습니다.</p>

        </div>
        <div class="participation" id="actors">
            <h3>배역</h3>
            <p>본 홈페이지와 <span class="link" onclick="scrollToAnchor('#document')">PDF 첨부파일</span>에 명시된 인물인 젤리, 허쉬, 포니,
                풀페이스, 총 4명의 배역이 존재합니다. 엑스트라는 존재하지
                않습니다.</p>
            <h3>지원방식</h3>
            <p>명시된 감독의 번호, 혹은 이메일로 연락주시면 되며, 양식은 존재하지 않습니다. 이후 감독이 직접 찾아뵙도록 하겠습니다.</p>
            <h3>참여 방법</h3>
            <p><span class="link" onclick="scrollToAnchor('#contact')">웹페이지 하단의 연락처</span>로 연락 주신다면 감독이 직접 찾아뵙도록 하겠습니다.
            </p>
            <h3>촬영일</h3>
            <p>7월 말에서 8월 초가 될 가능성이 높습니다. 프리 프로덕션 속도에 따라서 변경될 수도 있지만 8월을 넘어가는 일이 없도록 할 것입니다.</p>
            <h3>촬영 지역</h3>
            <p>학교 근방에서 벗어나지 않도록 고려하여 시나리오를 구성했습니다.</p>
        </div>




        <div id="contact" class="card_wrapper">
            <div class="card">
                <div class="card_top">
                    <img class="card_profile" src="{{ url_for('static', filename='img/logo_nomargin.png') }}">
                </div>
                <div class="card_mid">
                    <div class="card_director">
                        <p>감독</p>
                    </div>
                    <div class="card_name">
                        <p class="name_ko">박 준</p>
                        <p class="name_en">Jun Park</p>
                    </div>
                </div>
                <div class="card_bottom">
                    <p class="textphone"><i class="fas fa-mobile-alt"></i><a href="tel:01099261652">+82 10-9926-1652</a>
                    </p>
                    <p class="textemail"><i class="far fa-envelope"></i><a
                            href="mailto:wjtrks12@khu.ac.kr">wjtrks12@khu.ac.kr</a></p>
                </div>
            </div>
        </div>
        <div class="title">
            <h1>자료</h1>
        </div>
        <div class="embedded_document_wrapper">
            <iframe id="document" class="embedded_document"
                src="https://drive.google.com/file/d/1aq1iqGtJMiBMv9L7wwK6IBOt7S_8YEqJ/preview"></iframe>
        </div>
        <div class="download_wrapper">
            <a class="download_btn" href="/static/files/혹성의%20아이%20캡스톤%20발표본.pdf"
                download="혹성의 아이 캡스톤 발표본.pdf">PDF 다운로드</a>
            <!-- <a class="download_btn" onclick="window.open('{{ url_for('static', filename='files/혹성의 아이 캡스톤 발표본.pdf') }};')" download="">PDF 다운로드</a> -->
        </div>

        <!-- <object data="{{ url_for('static', filename='files/혹성의 아이 캡스톤 발표본.pdf') }}" type="application/pdf" style="width: 100%; aspect-ratio: 16/9;"></object> -->
    </div>
    <script>
        function showContent(jobs) {
            var staffsContent = document.getElementById("staffs");
            var actorsContent = document.getElementById("actors");
            var staffsBtn = document.getElementById("staffs_btn");
            var actorsBtn = document.getElementById("actors_btn");
            if (jobs == staffs) {
                staffsContent.classList.add("show");
                actorsContent.classList.remove("show");
                staffsBtn.classList.add("underbar");
                actorsBtn.classList.remove("underbar");
            } else if (jobs == actors) {
                actorsContent.classList.add("show");
                staffsContent.classList.remove("show");
                actorsBtn.classList.add("underbar");
                staffsBtn.classList.remove("underbar");
            }
        }

        function scrollToAnchor(anchorId) {
            var anchor = document.querySelector(anchorId);
            if (anchor) {
                anchor.scrollIntoView({
                    behavior: 'smooth',
                    block: 'center'
                });
            }
        }
    </script>
</div>
{% endblock %}