{% extends 'layout.html' %} {% block content %}

<div class="main">
  <section class="qna-wrapper">
    <div class="title">
      <h2>질문 및 문의</h2>
    </div>
    <div class="jobs">
      <button class="" id="staffs-btn" onclick="showContent(staffs)">
        스태프
      </button>
      <button class="underbar" id="actors-btn" onclick="showContent(actors)">
        배우
      </button>
    </div>
    <div class="participation" id="staffs">
      <h3 class="sr-only">스태프</h3>
      <h4>참여 가능한 포지션</h4>
      <div class="chart-wrapper">
        <div class="chart">
          <div class="row_1">
            <div class="logo__small">
              <img
                src="{{ url_for('static', filename='img/logo.svg') }}"
                alt="혹성의 아이 로고"
              />
            </div>
            <div class="box title">
              <p>혹성의 아이</p>
            </div>
          </div>

          <div class="row_2">
            <div class="jobs-wrapper">
              <div class="text occ">
                <p>모집 완료</p>
              </div>
              <div class="box short">
                <p>감독</p>
              </div>
            </div>
            <div class="jobs-wrapper">
              <div class="text occ">
                <p>모집 완료</p>
              </div>
              <div class="box short">
                <p>제작</p>
              </div>
            </div>
            <div class="jobs-wrapper">
              <div class="text occ">
                <p>모집 완료</p>
              </div>
              <div class="box long">
                <p>촬영·조명·음향</p>
              </div>
            </div>
            <div class="jobs-wrapper">
              <div class="text occ">
                <p>모집 완료</p>
              </div>
              <div class="box long">
                <p>비주얼 메이킹</p>
              </div>
            </div>
          </div>
          <div class="notice">
            <p>
              * 5월 14일부로 스태프 모집이 완료되었습니다. 많은 지원에
              감사드립니다.
            </p>
          </div>
        </div>
      </div>
      <p>
        해당 시나리오는 한정된 공간 안에서 이루어지는 이야기이기에 공간과 인물,
        오브제 디자인의 고려 사항이 많을 것으로 예상됩니다. 따라서 감독이 연출,
        미술로부터 쉼 없이 조언을 받아야 한다고 판단하여 연출부와 미술부는
        비주얼 메이킹이라는 대전제 안에 포함시켰습니다.
      </p>
      <h4>자격 요건</h4>
      <p>
        헤드 포지션은 물론 부원까지 모두 어떤 요건도 없습니다. (학년, 경험 무관)
      </p>
      <h4>참여 방법</h4>
      <p>
        <span class="link" onclick="scrollToAnchor('#contact')"
          >웹페이지 하단의 연락처</span
        >로 연락 주신다면 감독이 직접 찾아뵙도록 하겠습니다.
      </p>
      <h4>작업 시작일</h4>
      <p>
        본 작품의 리뷰가 끝나는 5월 9일 이후 바로 시작되며, 자세한 내용은
        <span class="link" onclick="scrollToAnchor('#document')"
          >하단에 첨부된 PDF 파일</span
        >
        ‘로드맵’ 부분에 명시되어 있습니다. 기말고사 기간에는 학업에 영향이
        없도록 조율할 예정입니다.
      </p>
      <h4>촬영일</h4>
      <p>
        7월 말에서 8월 초가 될 가능성이 높습니다. 프리 프로덕션 속도에 따라서
        변경될 수도 있지만 8월을 넘어가는 일이 없도록 할 것입니다.
      </p>
      <h4>촬영지역</h4>
      <p>학교 근방에서 벗어나지 않도록 고려하여 시나리오를 구성했습니다.</p>
    </div>
    <div class="participation show" id="actors">
      <h3 class="sr-only">배우</h3>
      <h4>배역</h4>
      <p>
        본 홈페이지와
        <span class="link" onclick="scrollToAnchor('#document')"
          >PDF 첨부파일</span
        >에 명시된 인물인 젤리, 허쉬, 포니, 풀페이스, 총 4명의 배역이
        존재합니다. 엑스트라는 존재하지 않습니다.
      </p>
      <h4>지원방식</h4>
      <p>
        아래에 명시된 이메일을 통해 프로필을 보내주시면 되며, 양식은 존재하지
        않습니다.
      </p>
      <h4>참여 방법</h4>
      <p>
        <span class="link" onclick="scrollToAnchor('#contact')"
          >웹페이지 하단의 이메일</span
        >로 연락 주시면 되며, 이후 연락드리도록 하겠습니다.
      </p>
      <h4>촬영일</h4>
      <p>7월 20일~22일 3일간, 혹은 7월 20일~21일 2일간 진행될 예정입니다.</p>
      <h4>촬영 지역</h4>
      <p>경기도 수원시 일대 혹은 서울시 중 한 곳이 될 예정입니다.</p>
    </div>

    <div id="contact" class="card-wrapper">
      <div class="card">
        <div class="card-content">
          <img
            class="card-profile"
            src="{{ url_for('static', filename='img/logo.svg') }}"
            alt="혹성의 아이 로고"
          />
          <p class="textemail">
            <i class="far fa-envelope"></i
            ><a href="mailto:greenplanet1415@gmail.com"
              >greenplanet1415@gmail.com</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="title">
      <h3>자료</h3>
    </div>
    <div class="embed-doc-wrapper">
      <iframe
        id="document"
        class="embed-doc"
        src="https://drive.google.com/file/d/1liLOT445SgxG7nDSfdcMrsXWGfeRkjGd/preview"
      ></iframe>
    </div>
    <div class="download-wrapper">
      <a class="download-btn" href="/download/pdf">PDF 다운로드</a>
      <!-- <a class="download-btn" onclick="window.open('{{ url_for('static', filename='files/혹성의 아이 캡스톤 발표본.pdf') }};')" download="">PDF 다운로드</a> -->
    </div>

    <!-- <object data="{{ url_for('static', filename='files/혹성의 아이 캡스톤 발표본.pdf') }}" type="application/pdf" style="width: 100%; aspect-ratio: 16/9;"></object> -->
  </section>
  <script>
    function showContent(jobs) {
      var staffsContent = document.getElementById("staffs");
      var actorsContent = document.getElementById("actors");
      var staffsBtn = document.getElementById("staffs-btn");
      var actorsBtn = document.getElementById("actors-btn");
      if (jobs == staffs) {
        staffsContent.classList.add("show");
        actorsContent.classList.remove("show");
        staffsBtn.classList.add("underbar");
        actorsBtn.classList.remove("underbar");
      } else if (jobs == actors) {
        actorsContent.classList.add("show");
        staffsContent.classList.remove("show");
        actorsBtn.classList.add("underbar");
        staffsBtn.classList.remove("underbar");
      }
    }

    function scrollToAnchor(anchorId) {
      var anchor = document.querySelector(anchorId);
      if (anchor) {
        anchor.scrollIntoView({
          behavior: "smooth",
          block: "center",
        });
      }
    }
  </script>
</div>
{% endblock %}
